<!--Footnote using bigfoot.js-->
<!--Footnote link-->
{{ $id := .Get "id" }}
<sup id="fnref:{{ $id }}">
    <a href="#fn:{{ $id }}" rel="footnote">{{ $id }}</a>
</sup> {{ if eq $id "1" }}<sup style="font-size: 60%; font-style: italic;">← click here</sup>{{ end }}

<!--Footnote content-->
<div class="footnotes">
  <ol>
    <li class="footnote" id="fn:{{ $id }}" >
        <div>
            <a href="#fnref:{{ $id }}" title="return to article"> ↩</a>
            {{ .Inner }} <!--BUG: Placing .Inner before above link results in invalid generated HTML-->
        </div>
    </li>
  </ol>
</div>